.contact {
    background-color: #4c5057;
}

.contacto {
    background: url(../imagenes/grain.png) repeat;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 0 15px rgb(0 0 0 / 25%);
    color: #F6EDD8;
    padding: 50px;
	padding: 105px 0 30px 0;
    text-align: center;
}

.contacto_title {
	font-size: 4em;
    font-weight: bold;
    line-height: 38px;
    margin: 1.2em 0;
    text-align: center;
    text-shadow: 1px 2px #484a4d, 3px 4px #d4cebf;
    text-transform: uppercase;
}

form {
    align-items: center;
	display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px 0;
	padding: 0 30px;
}

form label, form legend {
    display: block;
    font-size: 20px;
	font-weight: bold;
    margin: 0 0 10px;
}

.input-padron {
	border: none;
    display: block;
	font-weight: bold;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 30%;
}

.enviar {
    background: #78bbbb;
    border: none;
    border-radius: 0.5em;
    color: #4c5057;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
    padding: 1.15em 0;
    transition: 1s all;
    width: 20%;
}

.enviar:hover {
    background: #D35244;
    color: #e6e1d0;
}


@media screen and (max-width: 960px) {
    .contact {
        width: 100%;
    }

    .contacto {
        padding: 0.5em 0px;
    }

    .contacto_title {
        font-size: 2em;
        line-height: normal;
        margin: 0.5em 0;
        text-shadow: 0.5px 1px #484a4d, 1.5px 2px #d4cebf;
    }

	.input-padron, .enviar {
		width: 80%;
	}

}