.habilidad {
    background-color: #e3e0dd;
    color: #383a3c;
}

.skills {
    background: url(../imagenes/grain.png) repeat;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 0 15px rgb(0 0 0 / 25%);
    color: #383a3c;
    padding: 50px;
	padding-top: 1.2em;
    text-align: center;
}

.skills_title {
    color: #383a3c;
	font-size: 4em;
    font-weight: bold;
    line-height: 38px;
    margin: 1.2em 0;
    text-align: center;
    text-shadow: 1px 2px #fcfaf7, 3px 4px #484a4d;
    text-transform: uppercase;
}

.skills_list {
    box-sizing: border-box;
    margin-bottom: 4.5em;
	text-align: center;
    width: 100%;
}

.skills_list_item {
    align-items: center;
    border-image: #383a3c;
    border-radius: 20%;
    border-style: solid;
	border-width: 4px;
    display: inline-block;
    font-size: 1.3em;
    font-weight: bold;
	margin: 0 2%;
	margin-bottom: 1.2em;
    padding: 1.4em 1.4em;
    text-align: center;
    transition: 1s all;
    vertical-align: top;
    width: 16%;
}

.skills_list_item:hover {
    border-color: #e68966;
    color: #e68966;
    text-shadow: 0 3px 4px #d4cebf;
    text-transform: uppercase;
    transform: scale(1.15);
}

.skills_list_title {
	font-size: 1.2em;
	font-weight: bold;
	padding-bottom: 0.8em;
}

.skills_list_img {
    display: inline;
    height: 50%;
    width: 50%;
}


@media screen and (max-width: 960px) {
    .habilidad {
        width: 100%;
    }

    .skills {
        padding: 15px;
    }

    .skills_title {
        font-size: 2em;
        line-height: normal;
        margin: 0.5em 0;
        text-shadow: 0.5px 1px #484a4d, 1.5px 2px #d4cebf;
    }

    .skills_list {
        margin-bottom: auto;
    }

    .skills_list_title {
        font-size: 1em;
        padding-bottom: 0.6em;
    }

    .uno {
        display: none;
    }

    .dos {
        margin: 0px;
        padding: 0px;
    }

    .skills_list_item {
        padding: 0.5em 0.5em;
		width: 30%;
	}
}