.project-section {
    align-items: center;
    background-color: #e6e1d0;
    flex-direction: column;
    font-size: 1.8em;
    margin: 0 auto;
    vertical-align: middle;
    width: 100%;
}

.proyectos {
    align-items: center;
    background: url(../imagenes/grain.png) repeat;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 0 15px rgb(0 0 0 / 25%);
    color: #383a3c;
    padding: 10px;
    vertical-align: middle;
}

.project-section .heading {
	font-size: 2em;
    font-weight: bold;
    margin: 0.5em 0;
    text-align: center;
    text-shadow: 1px 2px #fcfaf7, 3px 4px #484a4d;
    text-transform: uppercase;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 25px;
}

.project-card {
    height: 110%;
    margin: 1% 20%;
    position: relative;
    width: 60%;
}

.project-img {
    border: 1px solid #383a3c;
    border-color: #383a3c;
    border-radius: 20px;
    box-shadow: 0 0 15px rgb(0 0 0 / 25%);
    height: 90%;
    left: 0;
    object-fit: fill;
    position: absolute;
    top: 0;
    transition: .5s;
    width: 100%;
}

.proyecto_4, .proyecto_2, .proyecto_1 {
    color: #F6EDD8;
}

.project-content {
    opacity: 0;
    position: relative;
    transition: .5s;
}

.project-title {
    font-size: 1.2em;
    text-align: center;
    font-style: italic;
    margin-top: 5%;
    text-transform: capitalize;
}

.project-info {
    font-size: 0.8em;
    padding: 5%;
    text-align: center;
}

.project-btn-grp {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 10%;
}

.project-btn {
    background: #000;
    border: none;
    border-radius: 20px;
    color: #F6EDD8;
    cursor: pointer;
    font-size: 0.7em;
    height: 40px;
    text-transform: capitalize;
}

.project-btn-grp a {
    color: #F6EDD8;
    text-decoration: none;
}

.project-btn.live {
    background: none;
    border: 2px solid #F6EDD8;
}

.project-card:hover .project-img {
    filter: blur(20px);
}

.project-card:hover .project-content {
    opacity: 1;
}

.proyecto_1 .project-info {
    padding-bottom: 5%;
}



@media screen and (max-width: 960px) {
    .project-section {
        width: 100%;
    }

    .proyectos {
        padding: 5px;
    }

    .project-section .heading {
        font-size: 1.3em;
    }

    .project-title {
        font-size: 0.9em;
    }

    .project-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .project-card {
        height: 100%;
        margin: 1%;
        width: 100%;
    }

    .proyecto_1 {
        margin-bottom: 10%;
    }

    .project-img {
        height: 100%;
        object-fit: fill;
        width: 100%;
    }

    .project-info {
        font-size: 0.4em;
    }

    .project-btn {
        font-size: 0.4em;
    }

    .project-btn-grp {
        margin-bottom: 0;
    }

    .proyecto_5 .project-btn-grp {
        margin-bottom: 2%;
    }
}



