.contact {
    background-color: #4c5057;
}

.contacto {
    background: url(../imagenes/grain.png) repeat;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 0 15px rgb(0 0 0 / 25%);
    color: #F6EDD8;
	padding: 30px 0 30px 0;
    text-align: center;
    width: 100%;
}

.contacto_title {
	font-size: 4em;
    font-weight: bold;
    line-height: 38px;
    margin: 0.6em 0;
    text-align: center;
    text-shadow: 1px 2px #484a4d, 3px 4px #d4cebf;
    text-transform: uppercase;
}

form {
    align-items: center;
	display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px 0;
	padding-right: 50px;
}

form label, form legend {
    display: block;
    font-size: 1.5em;
	font-weight: bold;
    margin: 0 0 10px;
}

.input-container, .input-container-invalid {
    width: 70%;
}

.input-padron {
	border: transparent;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-weight: bold;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.input-padron:focus {
    border-bottom: solid 4px #78bbbb;
    outline: none;
}

.mensaje-error {
    display: none;
}

.input-container-invalid {
    margin-bottom: 0.5rem;
  }
  
  .input-container-invalid .input-padron {
    border: 2px solid #df2525;
    border-radius: 7px;
    box-shadow: 0 0 10px #F6EDD8;
    margin: 0 0 5px;
  }
  
  .input-container-invalid .input-label {
    color: #df2525;
    font-size: 1.8em;
    text-shadow: 0 0 0.8px #F6EDD8;
  }
  
  .input-container-invalid .mensaje-error {
    color: #D35244;
    display: block;
    font-size: 1.2em;
    margin-bottom: 1rem;
    text-shadow: 0 0 0.8px #F6EDD8;
  }

.enviar {
    background: #78bbbb;
    border: none;
    border-radius: 0.5em;
    color: #4c5057;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
    padding: 1.15em 0;
    transition: 1s all;
    width: 20%;
}

.enviar:hover {
    background: #D35244;
    color: #e6e1d0;
    text-transform: uppercase;
    transform: scale(1.15);
}


@media screen and (max-width: 960px) {
    .contact {
        width: 100%;
    }

    .contacto {
        padding: 0.5em 0px;
    }

    .contacto_title {
        font-size: 2em;
        line-height: normal;
        margin: 0.5em 0;
        text-shadow: 0.5px 1px #484a4d, 1.5px 2px #d4cebf;
    }

    form {
        padding: 0px;
    }

    form label {
        font-size: 1.2em;
    }

    .input-container-invalid .input-label {
        font-size: 1.4em;
    }

    .input-container-invalid .mensaje-error {
        font-size: 1em;
    }

	.input-padron, .enviar {
		width: 80%;
	}

}