/* otros ejemplos de colores
#78bbbb
#e6e1d0
#D35244
#e3e0dd
#e68966
#e6e1d0
#4c5057
    font-family: "BazarMedium";
    color: #F6EDD8; */

html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 0 0 5px rgb(0 0 0 / 25%);
}

header {
    background: url(../imagenes/grain.png) repeat;
    background-color: #78bbbb;
    position: fixed;
    width: 100%;
}

.encabezado {
    border-bottom: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 0 15px rgb(0 0 0 / 25%);
    padding: 0.8em 1.2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nombre h6 {
    color: #F6EDD8;
	font-size: 1.4em;
    font-weight: bold;
    padding-left: 1.4em;
}

.navbar {
    position: absolute;
    right: 10px;
    top: 14px;
}

.item_lista, .item_contacto {
    display: inline;
	font-size: 1.1em;
	font-weight: bold;
    padding: 0 0.8em;
}

.item_lista {
	border-right: 1.5px solid #F6EDD8;
}

.perfiles li {
    display: inline;
    font-weight: bold;
    font-size: 18px;
    padding: 0 0.5em;
}

.navbar a {
    color: #F6EDD8;
    text-decoration: none;
}

.navbar a:hover, .perfiles a:hover {
    color: #4c5057;
}

.inicio {
    background-color: #78bbbb;
}

.banner {
    background: url(../imagenes/grain.png) repeat;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 0 15px rgb(0 0 0 / 25%);
    color: #F6EDD8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px;
}

.presentacion {
    position: static;
    width: 65%;
    flex: none;
    align-self: stretch;
    padding-top: 20px;
}

.presentacion_title {
    color: #F6EDD8;
    font-weight: bold;
	font-size: 40px;
    line-height: 50px;
    padding: 0px 10px;
}

.presentacion_text {
    color: #F6EDD8;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    padding: 10px 10px;
}

.icon .fa-sm {
	font-size: 2em;
    line-height: 1.5em;
    vertical-align: .05357em;
}

i {
    margin-left: 0.5em
}

.perfiles {
	font-size: 1.575em;
	text-decoration: none;
	padding: 5px;
	margin: 5px 10px;
}

.perfiles a {
    color: #F6EDD8;
    text-decoration: none;
    margin: 0 0 0 4px;
    padding: 10px 10px;
}

.perfil_foto {
    padding-top: 20px;
}

.perfil_foto img {
    width: 250px;
    height: 250px;
    flex: none;
    order: 1;
    flex-grow: 0;
    border-radius: 100%;
    align-self: flex-end;
    box-shadow: 0 0 15px rgb(0 0 0 / 25%);
    border-color: #383a3c;
}

.about {
    background-color: #e6e1d0;
}

.sobre_mi {
    background: url(../imagenes/grain.png) repeat;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    align-items: center;
    display: flex;
	flex-direction: row-reverse;
    padding: 35px;
    position: static;
    flex: none;
    box-shadow: 0 0 15px rgb(0 0 0 / 25%);
}

.sobre_mi_img {
	margin: 1.2em 1.5em;
    padding-left: 3em;
}

.img_compu_vintage {
	border-radius: 15%;
	height: 18em;
}

.sobre_mi_title {
    margin-bottom: 0.8em;
    line-height: 20px;
}

.sobre_mi_title, .hobbies_title {
    color: #383a3c;
}

.sobre_mi_title, .hobbies_title, .formacion_title, .proyectos_title {
    text-shadow: 1px 2px #fcfaf7, 3px 4px #484a4d;
}

.sobre_mi_title, .skills_title, .hobbies_title, .formacion_title, .proyectos_title, .contacto_title {
	font-size: 4em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.sobre_mi_text {
	margin: 1.5em 1.2em;
    padding-left: 0.8em;
    font-size: 1.1em ;
    width: 90%;
	text-align: justify;
    position: static;
    font-weight: normal;
    line-height: 19px;
}

.habilidad {
    background-color: #D35244;
}

.skills {
	padding-top: 1.2em;
    color: #F6EDD8;
}

.skills_title, .contacto_title {
    text-shadow: 1px 2px #484a4d, 3px 4px #d4cebf;
}

.skills_list {
    width: 90%;
	text-align: center;
    margin: 0 auto;
}

.skills_list_item {
	margin: 0 3.5%;
    padding: 1.4em 1.4em;
}

.skills_title, .hobbies_title, .formacion_title, .proyectos_title, .contacto_title {
    margin: 1.2em 0;
    line-height: 38px;
}

.skills_list_item, .hobbies_list_item, .formacion_list_item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
	margin-bottom: 1.2em;
	border-width: 4px;
  	border-style: solid;
    font-weight: bold;
    font-size: 18px;
  	border-image: #383a3c;
    border-radius: 20%;
}

.skills_list_title, .hobbies_list_title, .formacion_list_title {
	font-size: 1.3em;
	font-weight: bold;
	padding-bottom: 0.8em;
}

.skills_list_img, .hobbies_list_img {
    display: inline;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    box-shadow: 0 0 15px rgb(0 0 0 / 25%);
    border-color: #383a3c;
    border: 1px solid #383a3c;
}

.skills, .hobbies {
    background: url(../imagenes/grain.png) repeat;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 0 15px rgb(0 0 0 / 25%);
    text-align: center;
    padding: 50px;
}

.pasatiempo {
    background-color: #e3e0dd;
    color: #383a3c;
}

.hobbies_list_item {
	margin: 0 1%;
    padding: 1em 1em;
}

.formation {
    background-color: #e68966;
}

.formacion {
    text-align: center;
}

.formacion_list_item {
    width: 20%;
	margin: 1% 1%;
    padding: 1.2em 1.2em;
}

.formacion_list_img {
    display: inline;
    width: 50%;
    border-radius: 15%;
    box-shadow: 0 0 15px rgb(0 0 0 / 25%);
    border-color: #383a3c;
    border: 1px solid #383a3c;
}

.formacion, .proyectos {
    background: url(../imagenes/grain.png) repeat;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 0 15px rgb(0 0 0 / 25%);
    color: #383a3c;
    padding: 50px;
}

.projects {
    background-color: #e6e1d0;
}

.proyectos {
    align-items: center;
    vertical-align: middle;
}

.proyecto_box {
	display: flex;
	justify-content: space-around;
	vertical-align: middle;
    margin: 3%;
}

.proyecto_box_rest {
    width: 50%;
    padding: 3%;
}

.proyecto_img {
	width: 60%;
    border-radius: 5%;
    box-shadow: 0 0 15px rgb(0 0 0 / 25%);
    border-color: #383a3c;
    border: 1px solid #383a3c;
}

.proyecto_title, .proyecto_title_inicio, .proyecto_title_final {
	font-size: 1.5em;
    text-align: justify;
    font-weight: bold;
}

.proyecto_title_inicio {
    line-height: 0em;
}

.proyecto_title, .proyecto_title_final, .proyecto_text {
    line-height: 2em;
}

.proyecto_4 .proyecto_box_rest, .proyecto_2 .proyecto_box_rest {
    text-align: left;
}

.proyecto_3 .proyecto_title, .proyecto_3 .proyecto_box_rest, .proyecto_1 .proyecto_box_rest {
    text-align: right;
}

.proyecto_1 .proyecto_title_inicio, .proyecto_1 .proyecto_title_final {
    text-align: right;
}

.proyecto_text {
    font-size: 1.1em;
}

.proyecto_button_repo, .proyecto_button_demo {
    font-size: 1em;
    text-decoration: none;
    margin: 5% 10%;
    padding: 0.2em 0.8em;
    border-radius: 0.5em;
    transition: 1s all;
    cursor: pointer;
    align-items: center;
}

.proyecto_button_repo a, .proyecto_button_demo a {
    text-decoration: none;
	color: #4c5057;
}

.proyecto_button_repo a:hover, .proyecto_button_demo a:hover {
    color: #e6e1d0;
} 

.proyecto_button_repo, .proyecto_button_demo {
	background: #78bbbb;
}

.proyecto_button_repo:hover, .proyecto_button_demo:hover {
    background: #4c5057;
}

.contacto {
	padding: 105px 0 30px 0;
}

form{
    margin: 40px 0;
	padding: 0 30px;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form label, form legend {
    display: block;
	font-weight: bold;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron {
    display: block;
	font-weight: bold;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 30%;
	border: none;
}

.enviar {
    width: 20%;
    padding: 1.15em 0;
    font-size: 1.1em;
    font-weight: bold; 
    color: #4c5057;
    background: #78bbbb;
    border: none;
    border-radius: 0.5em;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background: #D35244;
    color: #e6e1d0;
}

.contact, .footer {
    background-color: #4c5057;
}

.contacto, .derechos {
    background: url(../imagenes/grain.png) repeat;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 0 15px rgb(0 0 0 / 25%);
    color: #F6EDD8;
    text-align: center;
    padding: 50px;
}

.derechos {
    background-color: #4c5057;
    padding: 5px 5px 5px 5px;
    text-align: center;
    width: 100%;
    max-width: 100%;
    position: fixed;
    bottom: 0;
}