/* otros ejemplos de colores
#78bbbb
#e6e1d0
#D35244
#e3e0dd
#e68966
#e6e1d0
#4c5057
    font-family: "BazarMedium";
    color: #F6EDD8; */

html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 0 0 5px rgb(0 0 0 / 25%);
}